@charset "utf-8";

.error-message{
	color: red;
	font-size: 110%;
}

.success-message{
	color:#14A361;
	font-size: 110%;
}

.registration-form{
	box-sizing: border-box;
	height: inherit;
	width: 460px;
	background-color:#F4F4F4;
	padding: 25px;
	margin: 20px auto auto auto;
	border-radius: 15px;
}

.form-input {
	box-sizing: border-box;
	width: 400px;
	height: 50px;
	margin-bottom: 30px;
	margin-top: 10px;
	margin-right: 10px;
	padding: 0 15px;
	background-color: rgba(255,255,255,0.8);
	border: none;
	border-radius: 5px;
	font-size: 110%;
}

label {
	font-size: 130%;
}

.submit-button {
	transition: 0.4s ease;
	box-sizing: border-box;
	height: 40px;
	width: 80px;
	border-style: none;
	border-radius: 5px;
    background-color: rgba(0,149,46,1.00);
	color: white;
	text-shadow:none; 
	box-shadow: none;
	font-size: 90%;
	cursor: pointer;
}

.submit-button:hover{
	background-color: rgba(0,207,85,1.00);
}

.focus-style:focus {
	outline: none !important;
	box-shadow: 0 0 2pt 0.3pt rgba(0,149,46,1.00);
}

label a{
	color: rgba(0,149,46,1.00);
	text-decoration: none;
	transition: 0.4s ease;
}

label a:hover{
	color: rgba(0,207,85,1.00);
}

.headinhg{
    margin-bottom: 12px;
	color: rgba(0,149,46,1.00); /*#004894*/
}